body{
	background-color: #2f2e2f;
}

.iconAndTitle{
	text-align: center;
	margin: 50px auto;
}

h1{
	color: #ffffff;
	margin: 50px auto;
	font-family: "Calibri",Arial,Helvetica,sans-serif;
	font-size: 40px;
	font-weight: normal;
}

.graphics{
	position: relative;
	margin: 20px auto;
	width: 630px;
	border:1px solid #fff;
}

.disponibilidad{
	width: 100px;
	margin: 20px;
	float: left;
	border:1px solid #fff;
}

.rendimiento{
	width: 100px;
	margin: 20px;
	float: left;
	border:1px solid #fff;
}

.calidad{
	width: 100px;
	margin: 20px;
	float: left;
	border:1px solid #fff;
}

.oee{
	width: 100px;
	margin: 20px;
	float: left;
	border:1px solid #fff;
}

.slider{
	position: absolute;
	width: 28px;
	height: 12px;
	background: url("img/slider_handle.png") no-repeat;
	cursor: n-resize;
	z-index: 10;
}

.graphicD{
	position: relative;
	width: 72px;
	height: 200px;
	left: 14px;
	background-image: url("img/disponibilidad.png");
	background-repeat: repeat-y;
}

.graphicR{
	position: relative;
	width: 72px;
	height: 200px;
	left: 14px;
	background-image: url("img/rendimiento.png");
	background-repeat: repeat-y;
}

.graphicC{
	position: relative;
	width: 72px;
	height: 200px;
	left: 14px;
	background-image: url("img/calidad.png");
	background-repeat: repeat-y;
}

.graphicO{
	position: relative;
	width: 72px;
	height: 200px;
	left: 14px;
	background-image: url("img/disponibilidad.png");
	background-repeat: repeat-y;
}